.chatlist {
  &-item {
    align-items: center;
  }
  &-content {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: .5rem 0;
    &-msg {
      font-size: .8rem
    }

    &-title {
      margin-bottom: 0 !important;
      color: #F5F5F5;
    }
  }

  &-title {
    height: 8vh;
    margin-bottom: 3rem;
  }
}
.inbox {
  box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
  border-radius: 1rem;
  background-color: #F5F5F5;
  &-home {
    min-height: 70vh;
  }
  &-messages {
    &-user {
      background-color: #FF2B56 !important;
      color: #F5F5F5;
    }
  }
  &-chatlist {
      max-height: 5vw;
      min-height: 70vh;
      overflow-y: auto;
      padding: 0.5rem 1rem;
  }
}

.auto-first-div {
  height: calc(60vh -50px -64px -7vh -27px) !important;
  .react-auto-scroll__scroll-container {
    height: calc(60vh -50px -64px -7vh -27px) !important;
    padding: .5rem;
  }
}

.react-auto-scroll__option-input, .react-auto-scroll__option-text {
  display: none;
}

@media (max-width: 800px) {
  .inbox-chatlist {
    border-bottom: 3px solid #FF2B56;
    min-height: 30vh;
    overflow-y: auto;
  }
}
