.chatlist {
  &-item {
    align-items: center;
  }
  &-content {
    display: flex;
    justify-content: flex-start;
    &-msg {
      font-size: .8rem
    }

    &-title {
      margin-bottom: 0 !important;
    }
  }
}
.inbox {
  &-home {
    min-height: 50vh;
  }
  &-messages {
    &-user {
      background-color: rgb(245, 245, 245) !important;
    }
  }
  &-chatlist {
      max-height: 5vw;
      min-height: 90vh;
      overflow-y: auto;
  }
}

.auto-first-div {
  height: calc(70vh -50px -64px -7vh -27px) !important;
  .react-auto-scroll__scroll-container {
    height: calc(70vh -50px -64px -7vh -27px) !important;
  }
}

.react-auto-scroll__option-input, .react-auto-scroll__option-text {
  display: none;
}

@media (max-width: 800px) {
  .inbox-chatlist {
    border-bottom: 3px solid #ccc;
  }
}
