.app {
  margin:auto;
  display: flex;
  flex-direction: column;
  background-color: #363738;
};

.profile-container {
  background-color: #fff;
  height: 100%;
};

.card-content {
  height: 100% !important;
};

.picture-profile {
  display: flex;
  justify-content: center;
};

input[type=radio] {
  margin: 0 1rem !important;
};

.navbar-link:not(.is-arrowless):after {
  border-color: #FF2B56;
};


.profile-iconic {
  padding-right: 1rem;
}

textarea,
.textarea {
  min-height: inherit;
  height: auto;
}

.tags, .is-grouped {
  margin-bottom: 0 !important;
}