/* label {
  display: flex;
  color:white;
  margin: auto;
  padding: auto;
  align-content: space-around;
}

.container {
  display: flex;
  align-content: center;
}

.ui.form {
  margin: auto;
  padding: 150px;
}

.ui.button {
  display: block; 
  margin: auto;
}

<<<<<<< HEAD
.text-input {
  display: flex;
  align-content: space-around;
}
=======
} */
>>>>>>> 8d040ffd098036e558c8769f6e735bd1317fcd7b
